//- head
//-   title foo

template(name="main")
  h1 foo
  each list
    p name: {{name}}

  button(type="button")#btn.btn.btn-default button

  +foooooo(bar="zzzzzzzzzzzz")
  +foooooo(bar="barrrrrr")


template(name="foooooo")
  h1 This is a template
  h3 {{bar}}
  each students
    p {{name}}